/*.App-bg {*/
/*background: url(./booksAppPhotos/books-bookstore-book-reading-159711.jpeg) no-repeat scroll;*/
/*background-size: 100% 100%;*/
/*width: 100%;*/
/*height: 100%;*/
/*opacity: 0.9;*/
/*}*/

.navbar-brand:hover {
    background-color: #000000;
    border-radius: 8px;
}

.books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-top: 5%;*/
    /*bottom: 10px;*/
    /*width: 50%;*/
    color: white;
    font-size: 1.1em;
    text-align: center;
    vertical-align: center;
    list-style-type: none;
}

.grid-item:hover {
    cursor: pointer;
    background: blueviolet;
}

.grid-item {
    /*width: 25%;*/
    background: darkcyan;
    /*background-blend-mode: inherit;*/
    padding: 20px;
    margin: 20px;
    border: white solid 2px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.catalog-item {
    color: white;
    background: darkcyan;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    border: white solid 2px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.infoHead {
    text-align: center;
}

.bookInfoList {
    margin-left: 5%;
}

.single-book {
    /*position: fixed;*/
    /*position: relative;*/
    /*margin: 3%;*/
    /*left: 50%;*/
    /*top: 15%;*/
    background-color: darkslategray;
    color: white;
    /*width: 70%;*/
    border-radius: 30px;

    margin: auto;
    margin-top: 5%;
    padding: 5%;
    height: 50%;
    width: 50%;
    /*padding: 10px;*/
}

footer {
    margin-top: 5%;
    text-align: center;
    /*color: #F8F8F8;*/
    text-shadow: 3px 3px 8px black;
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 50px;*/
    /*width: 100%;*/
}

.buttonHolder {
    text-align: center;
    margin: 0 auto;
}

#addButton {
    margin-right: 5%;
    width: 30%;
}

#removeButton {
    margin-left: 5%;
    width: 30%;
}
#loginButton{
    margin-top: 2%;
    margin-right: 5%;
    width: 20%;
}
#signupButton{
    margin-top: 2%;
    margin-left: 5%;
    width: 20%;
}
#moreBooks{
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
}

/*@media (min-width: 768px) {*/
/*.books-list {*/
/*width: 750px;*/
/*}*/
/*}*/

/*@media (min-width: 992px) {*/
/*.books-list {*/
/*width: 970px;*/
/*}*/
/*}*/

/*@media (min-width: 1200px) {*/
/*.books-list {*/
/*width: 1170px;*/
/*}*/
/*}*/